{{template "base" .}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:description"
      content="Ataria is a game engine aimed for the versatiles who yearns to create, share, and play your own games"
    />
    <meta property="og:title" content="Ataria Game Engine" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/styles/features.css" />
    <title>Ataria - Game Engine & Emulator</title>
  </head>
  <body>


{{define "content"}}
    <div class="features-container">
  <div class="header-center">
    <h2 class="heading">
      Let's give these techs a whirl - <span>Atari Engine</span>
    </h2>
    <button class="btn"><span>Atari Engine</span></button>
  </div>
  <div class="boxes center">
    <div class="box box-1 active">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
    <div class="box box-2">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
    <div class="box box-3">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
    <div class="box box-4">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
    <div class="box box-5">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
    <div class="box box-6">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
    <div class="box box-7">
      <div class="top-side"></div>
      <div class="bottom-side"></div>
      <div class="front-side"></div>
      <div class="back-side"></div>
      <div class="right-side"></div>
      <div class="left-side"></div>
    </div>
  </div>
</div>
{{end}}
