{{template "base" .}}

{{define "content"}}
  <!-- Hero Container -->
    <div class="hero-container">
      <div class="banner">
        <h1>Harness <span class="text_shadows">Ataria</span></h1>
        <p>Make your own 2D Action Game</p>
        <button type="button" class="btn btn-left">Learn</button>
        <button type="button" class="btn btn-right">Download</button>
      </div>
    </div>
{{end}}
